body.test-dashboard .test-content
	margin-left:20%;
	padding:0 2% 4em 3%;
	width:75%;
}

body.test-dashboard .test-menu {
	position:fixed;
	top:3.7em;
	bottom:0px;
	overflow:auto;
}

ul.menu #current a, ul.menu #current a.menu-folder {
	color:black;
}

#current a:before, #current a.menu-folder:before {
	color:#00A6F5;
}